<header>
    <div style="font-size: 20px;">
        <nav class="navbar justify-content-center position-sticky active">

            <div>
                <button class="burger b-dark-gray btn">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                    <div class="line4"></div>
                </button>
            </div>
            <ul class="nav menu-long">
                <li class="nav-item item-nav">
                    <a class="nav-link f-orange" aria-current="page" href="/workouts/3">Yoga</a>
                </li>
                <li class="nav-item item-nav">
                    <a class="nav-link f-orange" aria-current="page" href="/workouts/2">Cardio</a>
                </li>
                <li class="nav-item item-nav">
                    <a class="nav-link f-orange" aria-current="page" href="/workouts/4">Calisthenics</a>
                </li>
                <li class="nav-item item-nav">
                    <a class="nav-link f-orange" aria-current="page" href="/workouts/1">Weightlifting</a>
                </li>
                <li class="nav-item item-nav">
                    <a class="nav-link f-orange" aria-current="page" href="/workouts/bodypart">Body Part</a>
                </li>
                <li class="nav-item item-nav ">
                    <div class="stack">
                        <a class="nav-link" href="/profile"><img class="profile-img" src="/images/profile.svg" alt="" width="50px" /></a>
                            <li class="nav-item item-nav f-small stack-item">
                                <a class="f-light-orange nav-link logout" href="/logout">LOGOUT</a>
                            </li>
                    </div>
                </li>
                
            </ul>
            
        </nav>
    </div>

</header>