<form action="/login" method="POST" class="">
    <div class="">
        <div class="">
            <label class="">Username
                <input class="" name="username" placeholder="Username"/>
            </label>
        </div>
    </div>
    <div class="">
        <div class="">
            <label class=""> Password
                <input clas="" name="password" type="password" placeholder="Enter Password"/>
            </label>
        </div>
    </div>
    <button class="" type="submit">LOGIN</button>
</form>
<a href="/signup">Create an account</a>
