<form action="edit_profile" method="POST">
    <div class="center">
        <h1 class="f-light-orange">Edit Profile</h1>
        <div class="">
            <div>
                <label class="" for="username">Username</label>
                <input type="text" id="username" name="username" class="" value="${userInfo.username}" placeholder="${userInfo.username}">
            </div>
                <br>
            <div>
                <label class="" id="inputGroup-sizing-sm">First Name</label>
                <input type="text" name="first_name" class="" placeholder="${userInfo.first_name}" value="${userInfo.first_name}">
            </div>
                <br>
            <div>
                <label class="" id="inputGroup-sizing-sm">Last Name</label>
                <input type="text" name="last_name" class="" value="${userInfo.last_name}" placeholder="${userInfo.last_name}">
            </div>
                <br>
            <div>
                <label class="" id="inputGroup-sizing-sm">Weight</label>
                <input type="number" name="weight" class="" value="${userInfo.weight}">
            </div>
                <br>
                <div>
                <label class="" id="inputGroup-sizing-sm">Height</label>
                <input type="number" name="height_ft" class="" value="${userInfo.height_ft}"  placeholder="${userInfo.height_ft}"><label>ft</label>
                <input type="number" name="height_in" class="" value="${userInfo.height_in}" placeholder="${userInfo.height_in}"><label>in</label>
            </div>
                <br>
            <div>
                <label class="" id="inputGroup-sizing-sm">Age</label>
                <input type="number" name="age"class="" value="${userInfo.age}">
            </div>
            <br>
            <div>
                <label class="" id="inputGroup-sizing-sm">Phone Number</label>
                <input type="text" name="phone_num"class="" value="${userInfo.phone_num}">
            </div> 
            <br>           
        <button type="submit" class="btn b-light-orange f-dark-gray btn-sm">Update</button>
        </div>
    </div>
</form>
        


