<form action="edit_profile" method="POST">
    <div class="card center" style="width: 18rem;">
        <h1 class="f-dark-gray">Edit Profile</h1>
        <div class="input-group input-group-sm mb-3">
            <div>
                <span class="input-group-text" id="inputGroup-sizing-sm">Username</span>
                <input type="text" name="username" class="form-control" value="${userInfo.username}" placeholder="${userInfo.username}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
                <br>
            <div>
                <span class="input-group-text" id="inputGroup-sizing-sm">First Name</span>
                <input type="text" name="first_name" class="form-control" placeholder="${userInfo.first_name}" value="${userInfo.first_name}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
                <br>
            <div>
                <span class="input-group-text" id="inputGroup-sizing-sm">Last Name</span>
                <input type="text" name="last_name" class="form-control" value="${userInfo.last_name}" placeholder="${userInfo.last_name}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
                <br>
            <div>
                <span class="input-group-text" id="inputGroup-sizing-sm">Weight</span>
                <input type="number" name="weight" class="form-control" value="${userInfo.weight}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
                <br>
                <div>
                <span class="input-group-text" id="inputGroup-sizing-sm">Height</span>
                <input type="number" name="height_ft" class="form-control" value="${userInfo.height_ft}"  placeholder="${userInfo.height_ft}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"><span>ft</span>
                <input type="number" name="height_in" class="form-control" value="${userInfo.height_in}" placeholder="${userInfo.height_in}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"><span>in</span>
            </div>
                <br>
            <div>
                <span class="input-group-text" id="inputGroup-sizing-sm">Age</span>
                <input type="number" name="age"class="form-control" value="${userInfo.age}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div>
                <span class="input-group-text" id="inputGroup-sizing-sm">Phone Number</span>
                <input type="number" name="phone_num"class="form-control" value="${userInfo.phone_num}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>            
        <button type="submit" class="btn btn-primary btn-sm">Update</button>
        </div>
    </div>
</form>
        


