<div class="card f-dark-gray center" style="width: 18rem;">
  <h1>${userInfo.first_name}'s Profile</h1>
 
  <img src="${userInfo.picture}" class="card-img-top" alt="user Profile Picture">
  <div class="input-group mb-3">
  <!-- ADD FUnctionality to uploading an image-->
  <form action="/profile/add_photo" method="POST">
    <input type="file" class="form-control" id="inputGroupFile02">
    <label class="input-group-text f-dark-orange  b-light-gray" for="inputGroupFile02">Upload</label>
  </form>
  </div>
  <ul class="list-group list-group-flush f-dark-orange  b-light-gray">
    <li class="list-group-item">Username: ${userInfo.username}</li>
    <li class="list-group-item">First Name: ${userInfo.first_name}</li>
    <li class="list-group-item">Last Name: ${userInfo.last_name}</li>
    <li class="list-group-item">Weight: ${userInfo.weight}lbs</li>
    <li class="list-group-item">Height: ${userInfo.height_ft}ft ${userInfo.height_in}in</li>
    <li class="list-group-item">Age: ${userInfo.age}</li>
    <li class="list-group-item">Phone Number: ${userInfo.phone_num}</li>
  </ul>
</div>

<a href="/profile/profile_edit" ><button type="button" class="btn btn-secondary">Edit Profile</button></a>




