<div class="top_margin">
    <h1>Please fill out your user info!</h1>
    <form action="/signup" method="POST" class="form clearfix">  
        <div class="">
            <label class="">First Name<br>
                <input clas="" name= "first_name" placeholder="Jane" required/>
            </label>
        </div>
        <div class="">
            <label class="">Last Name<br>
                <input clas="" name= "last_name" placeholder="Doe" required/>
            </label>
        </div>
        
        <div class="">
            <label class="">Username<br>
                <input class="" name="username" placeholder="username" required/>
            </label>
        </div>
        
        <div class="">
            <label class="">Password<br>
                <input class="" name="password" type="password" placeholder="password" required/>
            </label>
        </div>
        
        <div class="">
            <label class="">Weight<br>
                <input class="" name= "weight" type="number" placeholder="125" required/>lbs
            </label>
        </div>
        
        <div class="">
            <label class="">Height<br>
                <input class="" name= "height_ft" type="number" placeholder="4" required/>ft
            </label>
        </div>
        
        <div class="">
            <label class="">Height<br>
                <input class="" name= "height_in" type="number" placeholder="3" required/>in
            </label>
        </div>
        <div class="">
            <label class="">Age<br>
                <input class="" name= "age" type="number" placeholder="94" required/>
            </label>
        </div>
            <label class="">Phone Number<br>
                <input class="" name= "phone_num" type="tel" placeholder="555-555-5555" required/>
            </label>
        </div>
        <button class="" type= "submit">LOGIN</button>
    </form>
  </div>