<section class="center">
    <h1>Choose your workout:</h1>
    <div class="center">
        <a class="nav-link" href="/workouts/bodypart">
            <div class="card text-white bg-dark mb-3 center" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-4">
                    <img class="img-fluid rounded float-start" src="/images/whole_body.png" alt="body silhouette" width="100px">
                    </div>
                    <div class="col-8 align-items-center">
                    <div class="card-body">
                        <h5 class="card-title">By Part of Body</h5>
                    </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    ${typeList.map(type => 
        `
        <a class="nav-link" href="/workouts/${type.id}">
            <div class="card text-white bg-dark mb-3 center" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-4">
                    <img class="img-fluid rounded float-start" src="${type.picture}" alt="body silhouette" width="100px">
                    </div>
                    <div class="col-8 align-items-center">
                    <div class="card-body ">
                        <h5 class="card-title">${type.name}</h5>
                    </div>
                    </div>
                </div>
            </div>
        </a>    
        `
        ).join('')}
</section>
