<h1>Weightlifting chart</h1>



<div class="container">
    <canvas id="myChart"></canvas>
</div>

<script>
    let myChart = document.getElementById('myChart').getContext('2d');
    console.log("hello");
    console.log(${date_labels});
    Chart.defaults.global.defaultFontFamily = 'sans-serif';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#777';

    let massPopChart = new Chart(myChart, {
        type:'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data:{
        labels:${date_labels},
        datasets:[{
            label:'Weight',
            data:[${weights}],
            //backgroundColor:'green',
            backgroundColor:[
            'rgba(248, 135, 21, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
            'rgba(255, 99, 132, 0.6)'
            ],
            borderWidth:1,
            borderColor:'#777',
            hoverBorderWidth:3,
            hoverBorderColor:'#000'
        }]
        },
        options:{
        title:{
            display:true,
            text:'Total Weight lifted by day in lbs',
            fontSize:20
        },
        legend:{
            display:true,
            position:'right',
            labels:{
            fontColor:'rgba(250, 193, 135)'
            }
        },
        layout:{
            padding:{
            left:50,
            right:0,
            bottom:0,
            top:0
            }
        },
        tooltips:{
            enabled:true
        }
        }
    });
</script>