<div class="container">
    <div class="card mb-3 b-gray">
        <img class="card-img-top" src="${workoutDetails.picture}" alt="Image of ${workoutDetails.name} in action">
        <div class="card-body">
          <h5 class="card-title">${workoutDetails.name}</h5>
          <div class="card-header">
            Body Parts this exercise works:
          </div>
          <ul class="list-group list-group-flush w-25 center">
            ${partsList.map(parts => 
                `<li class="list-group-item f-dark-orange  b-light-gray">${parts.name}</li>`
                ).join('')}
          </ul>
          <form action="add_workout" method="POST">
            <input type="hidden" name="type_id" value="${workoutDetails.type_id}">
            <input type="hidden" name="id" value="${workoutDetails.id}">
            <label class="form-label" for="weight">
                Weight:
            </label>
            <div class="input-group mb-3 w-25 center">
                <input input class="form-control" type="text" name="weight" id="weight" placeholder="10" required aria-describedby="basic-addon1">
                <span class="input-group-text" id="basic-addon1">lbs</span>
            </div>
            <label class="form-label" for="reps">
                Reps:
                <input class="form-control" type="text" name="reps" id="reps" placeholder="3" required>
            </label>
            <br>
            <button type="submit" class="btn f-light-orange btn-outline-secondary">Log it!</button>
        </form>
        </div>
    </div>
</div>