<br>
<h1 class="f-orange f-xl">${workoutDetails.name}</h1>
<div class="container workout-container">
    <div class="card mb-3 b-gray">
        <img class="card-img-top" src="${workoutDetails.picture}" alt="Image of ${workoutDetails.name} in action">
        <div class="card-body">
            <a href="${workoutDetails.link}" target="_blank" class="card-title nav-link f-orange">Watch a demo!</a>
            <hr>
            <div class="spaced">
                <div class="card-header">
                    Body Parts this exercise works:
                </div>
                <ul class="list-group list-group-flush w-50 center">
                    ${partsList.map(part => 
                        `<a class="nav-link" href="/workouts/parts/${part.id}"><li class="list-group-item f-dark-gray rounded  b-light-orange">${part.name}</li></a>`
                        ).join('')}
                </ul>
            </div>
            <hr>
            <form class="spaced" action="add_workout" method="POST">
                <input type="hidden" name="type_id" value="${workoutDetails.type_id}">
                <input type="hidden" name="id" value="${workoutDetails.id}">
                <label class="form-label" for="weight">
                    Weight:
                </label>
                <div class="input-group mb-3 w-25 center">
                    <input input class="form-control" type="text" name="weight" id="weight" placeholder="10" required aria-describedby="basic-addon1">
                    <span class="input-group-text" id="basic-addon1">lbs</span>
                </div>
                <label class="form-label" for="reps">
                    Reps:
                    <input class="form-control" type="text" name="reps" id="reps" placeholder="3" required>
                </label>
                <br>
                <!-- Button trigger modal -->
                <button type="button" class="spaced btn f-light-orange btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Log it
                  </button>
                  <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content b-gray">
                                <div class="modal-header">
                                    <h5 class="modal-title f-light-orange" id="staticBackdropLabel">Are you sure you want to log this workout?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h1 class="f-orange f-xl">${workoutDetails.name}</h1>
                                    <p>Weight: Reps: </p>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="f-light-orange btn btn-secondary" aria-label="Close" data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" class="f-light-orange btn btn-secondary">Save Changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- <button id="showModal" type="button">Show Modal</button> -->
                    <div id="overlay"  class="overlay">
                        <div id="modal" class="modal">
                            <p></p>
                            <!-- <button id="closeModal" class="close" type="button">x</button> -->
                        </div>
        
                    </div>
            </form>
        </div>
    </div>
</div>