:root {
  --orange: rgb(248, 135, 21);
  --light-orange: rgb(250, 193, 135);
  --dark-orange: rgb(136, 69, 2);
  --light-gray: rgb(141, 138, 136);
  --gray: rgb(48, 46, 44);
  --dark-gray: rgb(27, 25, 23);
  --white: rgb(255, 248, 241);
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  max-width: 100%;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--dark-gray);
  color: var(--white);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
  position: relative;
  text-align: center;
  top: 0;
}

hr {
  background-color: var(--background);
  background-image: linear-gradient(
    to right,
    rgba(27, 25, 23, 0),
    rgba(248, 135, 21),
    rgba(27, 25, 23, 0)
  );
  margin: auto;
  width: 75%;
}

.f-white {
  color: var(--white);
}

.f-dark-orange {
  color: var(--dark-orange);
}

.f-orange {
  color: var(--orange);
}

.f-light-orange {
  color: var(--light-orange);
}

.f-light-gray {
  color: var(--light-gray);
}

.f-gray {
  color: var(--gray);
}

.f-dark-gray {
  color: var(--dark-gray);
}

.b-white {
  background-color: var(--white);
}

.b-light-gray {
  background-color: var(--light-gray);
}

.b-gray {
  background-color: var(--gray);
}

.b-dark-gray {
  background-color: var(--dark-gray);
}

.b-dark-orange {
  background-color: var(--dark-orange);
}

.b-orange {
  background-color: var(--orange);
}

.b-light-orange {
  background-color: var(--light-orange);
}

.center {
  margin: auto;
}

.spaced {
  margin: 10px;
}

.f-xl {
  font-size: 1.8rem;
}

.f-large {
  font-size: 1.5rem;
}

.f-small {
  font-size: 0.7rem;
}

.profile-img {
  background-color: var(--orange);
  border-radius: 20%;
}


a.active, a:hover{
  transition: .5s;
}

.burger{
  display: none;

}

.nav{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 8vh;
  margin: auto;
  align-items: center;
  min-height: 8vh;
  padding: 15px 55px;
  }


  
.burger div{

    width: 35px;
    height: 3px;
    background-color:rgb(248, 135, 21);
    margin: 5px 5px;  
    
}


@media screen and (max-width:812px) {
  .nav-item{
    width: 45%;
    }
  
}

@media screen and (max-width:400px) {
      
    ul{
      width: 100%;
      height: 50vh;
      background-color: #3a3836;
      transition: all .5s;


    }
    
   

     .burger{
       display: block;
       margin-left: 20px;
       cursor: pointer;

     }

     
}

 
