<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/parts.css"/>
    <link rel="stylesheet" href="/styles/profile.css"/>
    <link rel="stylesheet" href="/styles/index.css"/>
</head>
<body>
    <header>
        <div style="font-size: 20px;">
            <nav class="navbar justify-content-center position-sticky active">
                
                
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link f-orange" aria-current="page" href="/workouts/3">Yoga</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link f-orange" aria-current="page" href="/workouts/2">Cardio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link f-orange" aria-current="page" href="/workouts/4">Calisthenics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link f-orange" aria-current="page" href="/workouts/1">Weightlifting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link f-orange" aria-current="page" href="/workouts/bodypart">Body Part</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile"><img class="profile-img" src="/images/profile.svg" alt="" width="50px"/></a>
                    </li>
                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                    <div class="line4"></div>
                </div> 
            </nav>
        </div>
    </header>
    ${body}
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</html> 